#1.Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

In [ ]:
#name error
#caused because of not using reserved keywords as defined, in the examplle given below "PRINT" keyword is supposed to be used as print("xyz") but we have used as Print("xyz") that's why it is showing error.

Print("Aditya")

NameError: ignored

In [ ]:
#syntax error
#caused when used improper syntax for the code, it the example given below proper syntax for the print is print("xyz") but we have used it incorrectly that's why it is showing syntac error.

print "aditya"

SyntaxError: ignored

In [ ]:
#type error
#caused when we used diff data types for particular operations, for example


"aditya" + 2
#in the above example type error says that we can canctenate only string to string.

TypeError: ignored

In [ ]:
#value error
#caused when used incorrect value for the specific variable type, for example

a = int(input("value of a: "))
b = int(input("value of b: "))
print(f"sum of a: {a} and b: {b} is: {a+b}")

value of a: 10.2

ValueError: ignored

In [ ]:
#intendation error
#caused if spaces in the code are not placed properly, in the code give below all the spaces before print statements are missing and also else key has lot may spces before it therefore we have got intendation error in the code.

A = float(input(f"Enter your first value: "))
B = float(input(f"Enter your second value: "))
operation = input("""Enter your operation among "+","*","/","-","%" """)
if operation == "+" :
print(f"Sum of A: {A} and B: {B} is {A+B}")
elif operation == "-":
print(f"Substraction of A: {A} and B: {B} is {A-B}")
elif operation == "*":
print(f"Multiplication of A: {A} and B: {B} is {A*B}")
elif operation == "/":
print(f"Division of A: {A} and B: {B} is {A/B}")
elif operation == "%":
  print(f"Modulus of A: {A} and B: {B} is {A%B}")
    else:
print(f"Invalid operation input")

IndentationError: ignored

#2.Take input A and B and print their sum, mul, div, square of the nos.

In [ ]:
A = float(input(f"Enter your first value: "))
B = float(input(f"Enter your second value: "))
operation = input("""Enter your operation among "+","*","/","-","%" """)
if operation == "+" :
  print(f"Sum of A: {A} and B: {B} is {A+B}")
elif operation == "-":
  print(f"Substraction of A: {A} and B: {B} is {A-B}")
elif operation == "*":
  print(f"Multiplication of A: {A} and B: {B} is {A*B}")
elif operation == "/":
  print(f"Division of A: {A} and B: {B} is {A/B}")
elif operation == "%":
  print(f"Modulus of A: {A} and B: {B} is {A%B}")
else:
  print(f"Invalid operation input")

Enter your first value: 10
Enter your second value: 10
Enter your operation among "+","*","/","-","%" +
Sum of A: 10.0 and B: 10.0 is 20.0

#3.How many reserve keywords are there in python and why we should not use them as a variable name.

In [ ]:
#Reserve keywords = words to which python has already assigned some functionality is called as "reserved keywords". ex: print,if,for,etc
# there are 33 total keywords in python programming language.
"""
if
not
elif
else
for
while
and
or
print
break
continue
as 
lamda
def
pass
return
true
false
class
assert
del
except
finally
from
import
is
in
nonlocal
global
none
raise
yeild
with
try
"""

#4.Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [ ]:
first_name = (input(f"Enter Your First Name: ")).lower()
last_name = (input(f"Enter Your Last Name: ")).lower()

print(f"Your Email id is {last_name}.{first_name}@gmail.com")

Enter Your First Name: ADITYA
Enter Your Last Name: Patil
Your Email id is patil.aditya@gmail.com

#5.Try to print the following lines -
###Hi I'm Sunny
###My address is 22\3
###I earn 20$ daily.

In [ ]:
print(f"""
Hi I'm Sunny
My address is 22/3
I earn 20$ daily.
""")

Hi I'm Sunny
My address is 22/3
I earn 20$ daily.

#6.Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs.

In [ ]:
first_name = (input("Enter your first name: ")).lower()
second_name = (input("Enter your middle name: ")).lower()
last_name = (input("Enter your last name: ")).lower()
dob = input("Enter Your Date Of Birth (dd/mm/yyyy): ")
add = input("Enter your address: ").title()
mob_no = input("Enter your 10 Digit mobile no: ")
Name = (first_name + " "+ second_name +" "+ last_name).title()

print(f"Full Name: {Name}")
print(f"Date Of Birth: {dob}")
(print(f"Address: {add}"))
if len(mob_no)==10 and mob_no!=0000000000:
  print(f"Moblie no: +91{mob_no}")
else:
  print("Mobile no: invalid")
print(f"Email Id: {first_name}.{last_name}@ineuron.ai")

Enter your first name: aditya
Enter your middle name: mohan
Enter your last name: patil
Enter Your Date Of Birth (dd/mm/yyyy): 02/03/1997
Enter your address: jalgaon
Enter your 10 Digit mobile no: 899945872
Full Name: Aditya Mohan Patil
Date Of Birth: 02/03/1997
Address: Jalgaon
Mobile no: invalid
Email Id: aditya.patil@ineuron.ai

#7.Convert the following -
###"22.4" into integer
###"22" into complex no.

In [5]:
#"22.4" into integer

A = "22.4"
print(f'Value of A before conversiona: {A}, data type of A before conversion: {type(A)}')
A = float(A)
A = int(A)
print(f'Value of A after conversion :{A}, data type of A after conversiona: {type(A)}')

#"22" into complex no.
B = 22
print(f'Value of B before conversiona: {B}, data type of B before conversion: {type(B)}')
B = float(B)
print(f'Value of B after conversion :{A}, data type of B after conversiona: {type(B)}')

Value of A before conversiona: 22.4, data type of A before conversion: <class 'str'>
Value of A after conversion :22, data type of A after conversiona: <class 'int'>
Value of B before conversiona: 22, data type of B before conversion: <class 'int'>
Value of B after conversion :22, data type of B after conversiona: <class 'float'>