#Q1. Find the largest number from the given list, use for loop.

In [39]:
numbers = [12, 75, 150, 180, 145, 525, 50]
grt_num = numbers[0]

for nums in numbers:
  
  if nums > grt_num :
    
    grt_num = nums

print(f"maximum number from given list is: {grt_num}")

maximum number from given list is: 525

#Q2. Print all the even number between (1, 12).

In [26]:
for i in range (1,12):
  if i%2 ==0:
    print(i)

2
4
6
8
10

#Q3. Calculate the sum of all numbers from 1 to a given number

In [38]:
sum = 0
for i in range (1,10):
  sum = sum + (i+1)
print(sum+1)

55

#Q4. Write a program to display only those numbers from a list that satisfy the following conditions

1.   The number must be divisible by five
2.   If the number is greater than 150, then skip it and move to the next number
3.   If the number is greater than 500, then stop the loop

In [35]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
  if i>500:
    break
  elif i>150:
    continue
  elif i%5==0:
    print(i)

75
150
145

#Q5. Print the given list in reverse order.

In [37]:
list1 = [10, 20, 30, 40, 50]

print(f"reversed list is: {list1[::-1]}")

reversed list is: [50, 40, 30, 20, 10]