 1. Print the first 5 positive integers in ascending order with one number in each line

In [ ]:
n = 5
for i in range (1,n+1):
  print (i)

1
2
3
4
5

 2. Print the following pattern
*
**
***
****
*****
 There are no spaces between consecutive stars. There are no spaces at the end of each line.

In [ ]:
n = 5
for i in range(0,n+1):
  print(i*'*')

*
**
***
****
*****

 3. Accept an integer as input and print its square as output.

In [ ]:
n = int(input("Enter the integer: "))
sq = n**2
print(f'Square of {n} is {sq}')

Enter the integer: 2
Square of 2 is 4

In [ ]:
def test(a):
  return a**2

test(2)

4

 4.Accept two integers as input and print their sum as output.

In [ ]:
n,m = input("Enter two integer: ").split()
sum = int(n) + int(m)
print(f'Sum of {n} & {m} is {sum}')

Enter two integer: 2 4
Sum of 2 & 4 is 6

In [ ]:
def test1(a,b) -> int:
  """This function returns sum of arguments"""
  return (a+b)

test1(2,3)

5

 5. Accept two words as input and print the two words after adding a space between them

In [ ]:
n,m = input("Enter two words: ").split()

print(n.title() + " " + m.title())

Enter two words: aditya patil
Aditya Patil

In [ ]:
def test2(a : str,b : str) -> str:
  """This function returns name with space added in between"""
  return (a.title() + " " + b.title())

test2('aditya','patil')

'Aditya Patil'

 6. Accept the registration number of a vehicle as input and print its state-code as output.

In [ ]:
n= input("Enter your vehicle number(eg:MH19AD1234): ")
print(str(n[0:2]).upper())

Enter your vehicle number(eg:MH19AD1234): mh19ad1234
MH

 7.Accept a five-digit number as input and print the sum of its digits as output.

In [ ]:
n = input("Enter 5 digit number: ")
sum = 0
for i in n:
  sum = sum + int(i)
print(sum)

Enter 5 digit number: 12345
15

In [ ]:
def test5(a:int)->int:
  """This function takes 5 digit number as argument and returns sum of digits of argument."""
  a = str(a)
  sum = 0
  if len(a) == 5:
    for i in a:
      sum = sum + int(i)
  return sum

test5(12345)

15

 8.Accept five words as input and print the sentence formed by these words after adding a space between consecutive words and a full stop at the end.

In [ ]:
def test6(a:str,b:str,c:str,d:str,e:str)->str:
  """This function takes 5 string arguments and returns sentence formed with those arguments with full stop at the end"""
  return (a.title() +" "+ b +" "+ c +" "+ d +" "+ e +".")

test6("hello","my","name","is","Aditya")

'Hello my name is Aditya.'

 9.Accept the date in DD-MM-YYYY format as input and print the year as output.

In [ ]:
n = input("Enter the date(eg: DD-MM-YYYY): ")
print(n[6:])

Enter the date(eg: DD-MM-YYYY): 11-22-2023
2023

 10.Accept a sequence of five single digit numbers separated by commas as input. Print the product of all five numbers.

In [ ]:
def test7(a:int,b:int,c:int,d:int,e:int) -> int:
  return a*b*c*d*e

test7(1,2,3,4,5)

120

 11. Accept two positive integers x and y as input. Print the number of digits in xy

In [ ]:
n,m = input("Enter two positive integers: ").split()
print(f"Number of digits in {n} & {m} is {len(n)+len(m)}")

Enter two positive integers: 10 111
Number of digits in 10 & 111 is 5

12. Accept a string as input. If the input string is of odd length, then 
continue with it. If the input string is of even length, make the 
string of odd length as below:





*   If the last character is a period (.), then remove it 

*   If the last character is not a period, then add a period (.) to the 
end of the string

Call this string of odd length word. Select a substring made up of 
three consecutive characters from word such that there are an 
equal number of characters to the left and right of this substring. 
Print this substring as output. You can assume that all input 
strings will be in lower case and will have a length of at least four

In [ ]:
n = (input("Enter a word: ")).lower()
s =str()
if len(n) < 4 and len(n)%2==0:
  if n[-1]=='.':
    n = n[:-1]
    print(n)
  else:
    n = n+'.'
    print(n)
elif len(n)%2==0:
    if n[-1]=='.':
      s = n[:-1]
      #print(s)
    else:
      s = n+'.'
      #print(s)
    len(s)%2!=0
    f = str(len(s)/2)
    f = int(f[0])
    f = f-1
    print(s[f]+s[f+1]+s[f+2])

Enter a word: ad
ad.

 13. Accept three positive integers as input and check if they form the sides of a right triangle. Print YES if they form one, and NO is they do not. The input will have three lines, with one integer on each line. The output should be a single line containing one of these two strings: YES or NO.

In [ ]:
a,b,c = input("Enter lenght of triangle as integers to check if the triangle is right angle triangle or not: ").split()
h = max(int(a),int(b),int(c))
l = min(int(a),int(b),int(c))
for i in (int(a),int(b),int(c)):
  if i != h and i!=l:
    m=i
if h**2 == l**2 + m**2:
  print("Yes")
else:
  print("No")

Enter lenght of triangle as integers to check if the triangle is right angle triangle or not: 13 5 12
Yes

14. EvenOdd is a tech startup. Each employee at the startup is given an employee id which is a unique 
positive integer. On one warm Sunday evening, five employees of the company come together for a 
meeting and sit at a circular table:

The employees follow a strange convention. They will continue the meeting only if the following 
condition is satisfied.

The sum of the employee-ids of every pair of adjacent employees at the table must be an even 
number.

They are so lazy that they won’t move around to satisfy the above condition, If the current seating 
plan doesn’t satisfy the condition, the meeting will be cancelled. You are given the employee-id of all 
five employees. Your task is to decide if the meeting happened or not.

The input will be five lined, each containing an integer. The ith line will have the employee-id of Ei.

The output will be a single line containing one of these two strings: YES or NO

In [ ]:
a = int(input("Enter your Emplyoee ID: "))
b = int(input("Enter your Emplyoee ID: "))
c = int(input("Enter your Emplyoee ID: "))
d = int(input("Enter your Emplyoee ID: "))
e = int(input("Enter your Emplyoee ID: "))

if (a+b)%2==0 and (b+c)%2==0 and (c+d)%2==0 and (d+e)%2==0 and (e+a)%2==0:
  print("Lets start the meeting.")
else:
  print("Meeting is cancelled")

Enter your Emplyoee ID: 2
Enter your Emplyoee ID: 4
Enter your Emplyoee ID: 6
Enter your Emplyoee ID: 8
Enter your Emplyoee ID: 10
Lets start the meeting.

15. Accept a string as input and print the vowels present in the string in 
alphabetical order. If the string doesn’t contain any vowels, then 
print the string none as output. Each vowel that appears in the input 
string – irrespective of its case should appear just once in lower case 
in the output

In [ ]:
s = input("Enter the string: ")
v = ['a','e','i','o','u']
o = list()
for i in s:
  if i in v:
    o.append(i)
o = sorted(tuple(set(o)))
print(o)

Enter the string: uoiea
['a', 'e', 'i', 'o', 'u']

16.You are given the date of birth of two persons, not necessarily from 
the same family. Your task is to find the younger of the two. If both 
of them share the same date of birth, then the younger of the two is 
assumed to be that person whose name comes first in alphabetical 
order.
The input will have four lines. The first two lines correspond to the 
first person, while the last two lines correspond to the second 
person. For each person, the first line corresponds to the name and 
the second line corresponds to the date of birth in “DD-MM-YYYY” 
format. Your output should be the name of the younger of the two.

In [ ]:
p1_name = input("Enter Name: ")
p1_dob = input("Enter Date of Birth(eg : dd-mm-yyyy)")
p2_name = input("Enter Name: ")
p2_dob = input("Enter Date of Birth(eg : dd-mm-yyyy )")

if p1_dob[6:] < p2_dob[6:]:
  print(p1_name)
elif p1_dob[6:] > p2_dob[6:]:
  print(p2_name)
elif p1_dob[6:] == p2_dob[6:]:
  if p1_dob[3:5] > p2_dob[3:5]:
    print(p2_name)
  elif p1_dob[3:5] < p2_dob[3:5]: 
    print(p1_name)
  elif p1_dob[3:5] == p2_dob[3:5]:
    if p1_dob[:2] > p2_dob[0:2]:
      print(p2_name)
    elif p1_dob[:2] < p2_dob[0:2]:
      print(p1_name)
    elif p1_dob[:2] == p2_dob[0:2]:
      if p1_name < p2_name:
        print(p1_name)
      elif p1_name > p2_name:
        print(p2_name)

Enter Name: aditya
Enter Date of Birth(eg : dd-mm-yyyy)03-03-1997
Enter Name: adityb
Enter Date of Birth(eg : dd-mm-yyyy )03-03-1997
aditya

17.Accept a string as input. Your task is to determine if the input string is a valid password or not. For a 
string to be a valid password, it must satisfy all the conditions given below:

*  (1) It should have at least 8 and at most 32 characters
*  (2) It should start with an uppercase or lowercase letter
*  (3) It should not have any of these characters: / \ = ' "
*  (4) It should not have spaces
It could have any character that is not mentioned in the list of characters to be avoided (points 3 and 
4). Output True if the string forms a valid password and False otherwise

In [ ]:
n = input("Enter your password: ")

if 8 <= len(n) <= 32 and n[0].isalpha() and '/' not in n and '\\' not in n and '=' not in n and '\'' not in n and ' ' not in n:
  print(True)
else:
  print(False)

Enter your password: Aditya@0203
True

18. Accept a positive integer n as input and print the first n positive integers, one number on each line.

In [ ]:
n = int(input("Enter positive integer: "))
if n > 0:
  for i in range(1,n+1):
    print(i)
else:
  print("Argument is invalid")

Enter positive integer: 5
1
2
3
4
5

19.Accept a positive integer n as input, where n is greater than 1. Print PRIME if n is a prime number and NOTPRIME otherwise.

In [ ]:
n = int(input("Enter posisitve integer: "))
flag = 0
if n > 1:
  for i in (2,n):
    if n%i!=0:
      flag = flag + 1
  if flag > 0:
    print("Prime")
  else:
    print("Not Prime")
else:
  print("Argument invalid")

Enter posisitve integer: 111
Prime

20. Accept two strings as input and form a new string by removing all characters from the second string which are present in the first string. 
Print this new string as output. You can assume that all input strings will be in lower case.

In [ ]:
a,b = input("Enter two strings: ").split()
c = str()
for i in range(len(b)):
  if b[i] not in a:
    c = c + b[i]
print(a+c)

Enter two strings: aditya dishant
adityashn

21.Accept a phone number as input. A valid phone number should satisfy 
the following constraints.
*  (1) The number should start with one of these digits: 6, 7, 8, 9
*  (2) The number should be exactly 10 digits long.
*  (3) No digit should appear more than 7 times in the number.
*  (4) No digit should appear more than 5 times in a row in the 
number.

If the fourth condition is not very clear, then consider this example: 
the number 9888888765 is invalid because the digit 8 appears more 
than 5 times in a row. Print the string valid if the phone number is 
valid. If not, print the string invalid.

In [ ]:
n = input("Enter your mobile number: ")
flag = False
for i in range(10):
  if n.count(n[i])<8:
    flag = True
    if n[i]*6 in n:
      flag = False
      break
    else:
      break
if len(n) == 10 and int(n[0]) > 5 and n.isdigit() and flag:
  print("Valid")
else:
  print("Invalid")

Enter your mobile number: 8999489394
Valid

22. In the first line of input, accept a sequence of space-separated words. In the second line of input, accept a single word. If this word is not present in the sequence, print NO. If this word is present in the sequence, then print YES and in the next line of the output, print the number of times the word appears in the sequence.

In [ ]:
a = input("Enter the  a sequence of space-separated words: ")
b = input("Enter the word: ")
l = a.split()
if b not in l[0]:
  print("NO")
else:
  print("YES")
  print(l.count(b))

Enter the  a sequence of space-separated words: hello world
Enter the word: we
NO

23. Write a function named factorial that accepts an integer n as argument. It should return the factorial of n if n is a positive integer. It should return -1 if n is a negative integer, and it should return 1 if n is zero.

In [ ]:
def factorial(n):
  fact = 1
  if n > 0:
    for i in range(1,n+1):
      fact = fact * i
    return fact
  elif n < 0:
    return -1
  else :
    return 0

factorial(5)

120

24. 
The range of a list of numbers is the difference between the maximum and minimum values in the list
Write a function named get_range that accepts a non-empty list of real numbers as argument. It 
should return the range of the list.
*  (1) Avoid using built-in function such as max and min.
*  (2) You do not have to accept input from the user or print output to the console. You just have to write 
the function definition.

In [ ]:
def get_range(l:list)->range:
  max = 0
  min = l[0]
  for i in l:
    if i>max:
      max = i
    elif i<min:
      min = i
  return (max-min)

get_range([10,2,3,4,5])

8

25. Write a function named read_file that accepts a text file named filename as argument. Within 
the function, read the file and print each line of the file on a separate line in the console. You shouldn't print any extra characters at the end of a line. There shouldn't be an empty line between any two consecutive lines.
*  (1) filename is a string variable that holds the name of the file. For example, in the first test case, it is filename = 'public_1.txt'.
*  (2) You do not have to accept input from the console. You have to write the function definition and print the contents of the file within the function

26. A simple algorithm has to be designed to find out whether a student belongs to the Data Science branch or not. The input will be a student's roll number, which is of the form BR18B0000. Here, BR represents the branch code, 18 represents the year of joining, B represents the education level and 0000 represents the specific identification given to the student of that batch. The branch code for Data Science is DS. Print True if the student belongs to Data Science branch and False otherwise.

In [ ]:
def test(r)->str:
  if r[2].upper() == "DS":
    print(True)
  else:
    print(False)
  
test("BR18B0000")

False

27.The police are trying to track a criminal based on the evidence 
available at a crime site. Their main clue is a vehicle's damaged 
number plate. Only the string TN07 is visible. The format of the 
registration number is AA00AA00, where the first two letters are 
alphabets, next two are numbers, next two are again alphabets 
followed by two numbers at the end. A number plate is picked from a 
database of registration numbers and is given to you as input. Your 
task is to determine if this could belong to the criminal or not. 
Print True if the number plate 
contains TN07 and False otherwise.

In [ ]:
def test1(n:str):
  if "TN07" in n.upper():
    print(True)
  else:
    print(False)

test1("ar05br14")

False

28. You are given a string and two non-negative integers as input. The 
two integers specify the start and end indices of a substring in the 
given string. Create a new string by replicating the substring a 
minimum number of times so that the resulting string is longer than 
the input string. The input parameters are the string, start index of 
the substring and the end index of substring (endpoints inclusive) 
each on a different line.

In [ ]:
def test2(n:str,s:int,e:int)->str:
  sub_string = n[s:e+1]
  len_substring = len(sub_string)
  len_string = len(n)
  for i in range(1,9):
    new_string = sub_string*i
    if len(new_string)>len_string:
      break
  return new_string

In [ ]:
test2("code",0,2)

'codcod'

29. A class teacher has decided to split her entire class into four groups, namely Sapphire, Peridot, Ruby, and Emerald for sports competitions. For dividing the students into these four groups, she has 
followed the pattern given below:
* Sapphire - 1, 5, 9, 13, 17, 21, ...
* Peridot - 2, 6, 10, 14, 18, 22, ...
* Ruby - 3, 7, 11, 15, 19, 23, ...
* Emerald - 4, 8, 12, 16, 20, 24, ...

All the students are represented by their roll numbers. Based on the above pattern, given the roll number as input, print the group the student belongs to. Note that the roll number can be any positive integer and not necessarily less than 25.

In [ ]:
n = int(input("Enter the roll number: "))
for i in range(1,n+1,4):
  if n == i:
    print("Sapphire")
    break
for j in range(2,n+1,4):
  if n == j:
    print("Preidot")
    break
for k in range(3,n+1,4):
  if n == k:
    print("Ruby")
    break
for l in range(4,n+1,4):
  if n == l:
    print("Emerald")
    break

Enter the roll number: 5
Sapphire

30. A data science company wants to hire data scientists from abc college. 
The company follows a certain criteria for selection: for a student to 
be selected, the number of backlogs should be at most 5 and the 
CGPA (Cumulative Grade Point Average) should be greater than 6. If 
the student does not fit the above criteria, then the student is not 
offered the job. If the student is selected, then the salary offered is 
equal to 5 times his/her CGPA (in lakhs).
Accept the number of backlogs (integer) and the CGPA (float) of the 
student as input. Your task is to determine if the student is selected or 
not. If the student is selected, then print the package. If not, then 
print the string Not Selected.

In [ ]:
def test3(b:int,c:float)->str:
  if b<=5 and c>6:
    print(f'Package:{c*5}LPA')
  else:
    print('Not Selected')

test3(4,7)

Package:35LPA

31. Accept a string as input and print PALINDROME if it is a 
palindrome, and NOT PALINDROME otherwise

In [ ]:
def test4(s:str):
  if s[::-1]==s:
    print("PALINDROME")
  else:
    print("NOT PALINDROME")

test4("mom")

PALINDROME

32. In a portal login website, you are asked to write a function get_password_strength to decide 
the strength of a password. The strength is decided based on the total score of the password, Use 
following conditions:
* 1) If password has length greater than 7 then score increases by one point.
* 2) If password has at least one upper case and one lower case alphabets score increases by one point.
* 3) If password has at least one number and no consecutive numbers like 12 or 234 then score 
increases by one point.
* 4) If password has at least one special character (any character other than numbers and alphabets) then 
score increases by one point.
* 5) If password contains username, then it is invalid password.

If the password has score of four points, three points, two points, or one point then print Very 
Strong, Strong, Moderate, or Weak respectively. If the password is invalid, then 
print PASSWORD SHOULD NOT CONTAIN USERNAME and If the score is zero, then print Use a 
different password.The arguments to the function are username and password which are 
already defined

In [ ]:
u = input("Enter your username: ")
p = input("Enter your password: ")
points = 0
if len(p)>7:
  points = points + 1
for i in range(len(p)):
  if p[i].upper() == True:
    points = points + 1
    break
  elif p[i].lower() == True:
    points = points + 1
    break
  elif p[i].isaplha() == False and p[i].isdigit() == False:
    points = points + 1

print(points)

Enter your username: safsdgsdg
Enter your password: Aditya@0203

AttributeError: ignored