In [ ]:
s ="this is My First Python programming class and i am learNING python string and its function"

1 . Try to extract data from index one to index 300 with a jump of 3

In [ ]:
for i in range(0,len(s),3):
  print(i,":",s[i])

0 : t
3 : s
6 : s
9 : y
12 : i
15 : t
18 : y
21 : o
24 : p
27 : g
30 : m
33 : n
36 : c
39 : s
42 : a
45 :
48 : a
51 : l
54 : r
57 : N
60 : p
63 : h
66 :
69 : r
72 : g
75 : n
78 : i
81 :
84 : n
87 : i

2. Try to reverse a string without using reverse function

In [ ]:
print(s[::-1])

noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht

3. Try to split a string after conversion of entire string in uppercase

In [ ]:
s1 = s.upper()
s1.split()

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

4. try to convert the whole string into lower case

In [ ]:
print(s.lower())

this is my first python programming class and i am learning python string and its function

5 . Try to capitalize the whole string

In [ ]:
print(s.title())

This Is My First Python Programming Class And I Am Learning Python String And Its Function

6 . Write a diference between isalnum() and isalpha()


*   isalnum() is a string function which is used to check if the given string is alpha numeric or not.
*   isaplha() is a string function which is used to check if the characters in given string is all aphabets are not.

7. Try to give an example of expand tab

In [ ]:
l = 'a\td\ti\tt\ty\ty\ta'
l.expandtabs()

'a       d       i       t       y       y       a'

8 . Give an example of strip , lstrip and rstrip

In [ ]:
p = "  aditya  "
print(p.lstrip())
print(p.rstrip())
print(p.strip())

aditya
  aditya
aditya

9.  Replace a string charecter by another charector by taking your own example

In [ ]:
t = 'hello bob'
print(t)
print(t.replace('bob','mom'))

hello bob
hello mom

10 . Try  to give a defination of string center function with and exmple

*   This function helps us to center align the string with specified character.

In [ ]:
txt = 'aditya'
print(txt.center(14,'*'))

****aditya****

11 . Write your own definition of compiler and interpretor without copy paste form internet in your own language


*   Compiler is helps us to convert high level language program to low level langauge
*   Interpreter helps us to directly run the code without using compiler