##1.Count the number of times iNeuron appears in the string.

In [1]:
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"

text.count("iNeuron")

3

##2.Check if position 5 to 11 ends with the phrase iNeuron. in the string

In [2]:
txt = "Hello, welcome to FSDS 2.0 at iNeuron."

if text[5:11]=="iNeuron":
  print("Phrase iNeuron do match")
else:
  print("Phrase does not match")

Phrase does not match

##3.Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.

In [7]:
full_name = input("Enter your full name (first_name middle_name last_name)").title()
print(f"your full name is: {full_name}")
first_name, middle_name, last_name = full_name.split(" ")
print(f"Abbrivated output is: {first_name[0]}.{middle_name[0]}.{last_name}")

Enter your full name (first_name middle_name last_name)aditya mohan patil
your full name is: Aditya Mohan Patil
Abbrivated output is: A.M.Patil

##4.Join all items in a list into a string, using a hash(#) character as separator:

In [8]:
LIST = ["My", "name", "is", "Rishav", "Dash"]

"#".join(LIST)

'My#name#is#Rishav#Dash'

##5.Write example for the following string manipulation function.

In [26]:
name = "ADITYA"
print(name.isupper())

True

In [27]:
name = "aditya"
print(name.islower())

True

In [18]:
number = "222444555"
print(number.isdecimal())
number1 = "aditya"
print(number1.isdecimal())
number2 = "aditya0203patil"
print(number2.isdecimal())

True
False
False

In [23]:
name = "aditya"
print(name.isalpha())
name = "aditya23"
print(name.isalpha())

True
False

In [25]:
mob_no = "7678799098"
print(mob_no.isnumeric())

True

##6.Indian PAN card format follows the following formats -

1.   AYEPC7894X
2.   ABCDE9999Y Take user input for PAN_CARD and validate as per the above example.

In [28]:
pan_no = input("Enter your pan card no: ")
pan_no = pan_no.upper()
print(f"Your Pan Number is: {pan_no}")
if len(pan_no)==10 and pan_no[:4].isalpha() and pan_no[5:8].isnumeric and pan_no[9].isalpha():
  print(f"Your Pan Number: {pan_no} is valid.")
else:
  print(f"Your Pan Number: {pan_no} is not valid.")

Enter your pan card no: sxdmm4322g
Your Pan Number is: SXDMM4322G
Your Pan Number: SXDMM4322G is valid.